html {
	scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto Condensed', sans-serif;
	  font-size: 1.2rem;
    height: 125vh;
    margin:0;
    padding:0;
    background-color: #f4f6f9;
  }


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
  padding: 0;
  height: 50px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #47536e;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  color: white;
}

.navbar a:hover{
  color: #09152f;
  background-color: white;
  text-decoration: none;
}

.navbar .getstarted a,
.navbar .getstarted:focus {
  background-color: #3c75ef;
 color: #faf3f3 !important;
  padding: 12px 25px;
  margin-left: 30px;
  line-height: 1;
  border-radius: 50px;
  
}

.navbar .getstarted a:hover,
.navbar .getstarted a:focus:hover {
  color: white !important;
  background-color: rgb(18, 60, 157) !important;
  border: 1px solid #042264 !important;
  font-weight: 800;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background-color: rgba(75, 84, 181, 0.95);
}

#header.header-transparent {
  background: transparent;
  background-color:white;
}

#header .logo img {
  margin: 0;
  max-height: 40px;
} 

  
header figure{
  right:0;
  display:none;
  margin: 10px;
  padding: 5px;
}


/* # Hero Section */

#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 30px 0 100px 0;
}

#hero::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 10%;
  width: 250%;
  height: 200%;
  z-index: -1;
  background-color: #e8ecf5;
  transform: skewY(135deg);
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 500;
  line-height: 56px;
  color: #041e57;
  font-family: "Poppins", sans-serif;
  padding: 30px 0 30px 0;
}

#hero h4 {
  color: #5b7b9e;
  margin-bottom: 50px;
  font-size: 25px;
}

#hero .download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 25px;
  display: inline-block !important;
  padding: 8px 24px 10px 46px;
  border-radius: 15px;
  transition: 0.5s;
  color: #fff;
  background: #021b55;
  position: relative;
  
}

#hero .download-btn:hover {
  background: #5777ba;
  text-decoration: none;
}

#hero .download-btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}

#hero .download-btn+.download-btn {
  margin-left: 20px;
}


@media (max-width: 991px) {
  #hero {
    width: 100%;
    padding: 100px 0 100px 0;
  }

  #hero .download-btn+.download-btn {
    margin: 0 10px;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 60%;
  }
  #hero .download-btn {
    display: block;
    padding: 8px;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
    padding: 10px 0 30px 0;
  }

  #hero h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}



/* ==================================================================== */
/*========= products============ */
#Work{
	padding-top: 80px;
	padding-bottom: 80px;
}

#Work h1{
	padding-bottom: 70px;
}
#Work-col2 ul{
	padding-top: 100px;
}

/*=========== Overview============== */
  .info-width {
	  width: 60%;
	  font-size: 1.3rem;
  }
  .overview-icon {
	  font-size: 3rem;
	  color: #1f02a1;
  }
  .overview-row {
	  margin-top: 5rem;
  }
  .overview-header {
	  font-weight: 900;
  }
  .overview-icon, .overview-header, .info-width {
	  padding: 1rem 0;
  }
  

  /* ==============Footer ================= */
  .footer-icon {
	  font-size: 2rem;
	  color: #5a34fc;
	  padding: 5% 3%;
  }

footer {
  background-color: #1b2b41;
  padding: 20px;
  margin: auto;
  height: 120px;
}

footer h2 {
  font-size: 20px;
  letter-spacing: 2.9px;
  color: white;
  text-align: center;
}
footer .social-media .links a {
  margin: 0 10px;
  font-size: 25px;
  color: rgb(230, 224, 224);
}

footer .social-media .links a:hover {
  color: rgb(69, 179, 230);
}
  




/***************************
        hovering button
****************************/
#playstore {
  position:fixed;
  bottom:1rem;
  right:2rem;
  align-items:center;
  color:rgb(22, 21, 21);
  padding: 0 15px  0 10px;
  border-radius:10px;
  transition:0.5s;
  font-size: 20px;
 
}

#playstore h6{
  font-size: 10px;
}

#playstore h2{
  font-size: 25px;
}









  /* =========== Media Queries ================= */
  @media only screen and (max-width: 768px) {

      #playstore h6, h2{
        font-size: 8px;
      }
    
    #main {
      height: 800px;
     padding-bottom: 0;
     padding-top: 5px;
    }
.UN{
  padding-top: 3px;
  padding-bottom: 2px;
}
	  .iphone-mock {
		  height: 350px;
      width: 250px;
      display: block;
      transform: rotate(20deg);
	  }
    .header-info {
      font-size: 40px !important;
      font-weight: 500;
     }
    #Work-col2 ul{
      padding-top: 50px;
    }
    .overview-icon, .overview-header, .info-width {
      padding-top: 1rem;
      padding-bottom: 0;
    }
	  .card {
		  margin: 20px 0;
	  }
	  .header-info {
		  font-size: 2rem;
	  }
	  .btn-outline-light {
		  margin-left: 0px;
	  }
	  #footer {
		  height: 100px;
	  }
    .deku{
      width: 230px;
      height: 230px;
      padding: 0;
    }
    .carousel-item h4 {
      font-size: 1.4rem;
    }
    .google_play{
      bottom:1.4rem;
      right:1.8rem;
      padding:2px;
    } 
    .google_play h6, .google_play h3{
      font-size: 10px;
    }
  }

  @media (max-width: 576px) {
    .hide {
      display: none !important;
    }
    #playstore h6{
      font-size: 8px !important;
      display: fit-content;
    }
    #playstore h2{
      font-size: 15px;
    }
  
  }