html {
	scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto Condensed', sans-serif;
	  font-size: 1.2rem;
    height: 125vh;
    background-image: url('');
    background-size: cover;
    font-family: sans-serif;
    /* margin-top: 80px;
    padding: 30px; */
    margin:0;
    padding:0;
    /* height:1000px; */
  }
  
  /*======= For all section's title======== */
  .section-title {
	  font-size: 3rem;
  }
  
  /*============ Navigation ===========*/
  .logo {
	  font-weight: 900;
	  font-size: 1.5rem;
  }
  .navbar-nav{
    margin-right: 0 !important;
    padding-right: 100px;
  }
  .navbar{
    /* background-color: #0B2447; */
        background-color: white;
    color:#0B2447 !important;
    border-top: 4px solid rgb(46, 96, 146);
    border-bottom: 2px solid rgb(46, 96, 146);
  }
  .nav-item a{
    color: #0B2447 !important;
  }
  .nav-item a:hover{
    border-bottom: 2px solid #a96700;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-color:rgb(155, 233, 243);
    color: #19376D !important;
    font-weight: 700 !important;
  }
  .nav-item {
    padding-left: 10px;
  }
  .navbar-brand{
    color: #fff !important;
    padding-left: 10px;
  }
  #navbar button{
    color: #fff !important;
  }
/* ==============END OF NAVBAR ================ */



  /*=============== Main Section============== */
  #features {
	  background-color:rgb(71, 65, 65);
	  margin-top: 100px;
	  padding: 100px 0;
    color: darkslategray !important;
  }
  .carousel-item {
	  padding: 7% 15%;
  }
  .carousel-item h4 {
	  font-size: 2rem;
    color: rgb(235, 245, 245);
  }
  .one{
    padding-bottom: 50px;
  }
  .un{
    padding-left: 20px;
  }
  #main {
	  background-color: white;
	  background-size: cover;
	  height: fit-content;
    background-color: #0B2447;
    color: #fff !important;
    padding-top: 80px;
    padding-bottom: 80px;
    
  }
  .header-main {
	  margin-top: 30px;
    padding-bottom: 50px;
    height: fit-content;
  }
  .header-info {
   font-size: 4rem;
   font-weight: 400;
   background-image: linear-gradient(to right, #009FBD, white,#009FBD);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   /* padding-left: 20px;
   padding-top: 20px; */
   text-align: center;
  }
  .btn-outline-light {
	  margin-left: 20px;
  }
  .btn-space {
	  margin-top: 20px;
  }
  .btn {
    border-bottom: 2px solid #a96700;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-color:white;
    color: #19376D !important;
    font-weight: 700 !important;
}
.btn:hover{
  color: 576CBC !important;
  border-bottom:3px solid rgb(165, 10, 31);
  font-weight: 300px;
}
  

/* ==============Image section of the main================ */
.Phone1 {
border-radius: 36px;
box-shadow: 5px 5px 5px rgba(66,55,55, .79),
           -7px -7px 6px #625A5A;
filter: FlipH;
-ms-filter: "FlipH";
transform: rotate(10deg);

max-width: 65%;
height: auto;
display: block;
padding-left: 30px;
}
.Phone1 {
display: flex;
justify-content: center;
align-items: center;
}
.Phone1 image {
perspective: 200px;
transition: all .2s ease;
height: 300px;
width: 500px;
background-size: cover;
box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}
/* =============END OF SECTION STYLING ============== */
 

/*========= products============ */
#Work{
	padding-top: 80px;
	padding-bottom: 80px;
}

#Work h1{
	padding-bottom: 70px;
}
#Work-col2 ul{
	padding-bottom: 60px;
}

#Work-col2 ul li{
	padding-top: 15px;
}

/* 
/*Start Recipes*
.recipes .image {
  height: 200px;
  background-size: cover;
  background-image: linear-gradient(to right, #022229, rgb(184, 201, 231),#011a1f);

} */
/*End Recipes*/

  /*=========== Overview============== */
  .info-width {
	  width: 60%;
	  font-size: 1.3rem;
  }
  .overview-row {
	  margin-top: 5rem;
  }
  .overview-header {
	  font-weight: 500;
  }
  .overview-header {
	  padding: 1rem;
  }
  #more {display: none;}
  
  .brain-info {
    left: 5px;
   top: 5px; 
    padding: 10px;
    background-color: rgba(255,255,255,0.04);
    border-left: 4px solid #0AABD4;
   backdrop-filter: blur( 12.5px );
 -webkit-backdrop-filter: blur( 14.5px );
    display: flex; 
    flex-direction: column;
    gap: 2px;
   transition: 0.4s ease;
 }

/* ===================================================================== */
  /* Pricing */
  #pricing {
	  margin-top: 100px;
	  padding: 100px 0;
  }
  .pricing-title {
	  margin-bottom: 100px;
  }
  .card {
	  box-shadow: 0px 3px 63px -12px rgba(0, 0, 0, 0.75);
	  border-color: #5a34fc;
	  border-radius: 10px;
  }
  .card-body {
	  padding: 7% 0;
  }
  .pricing-text {
	  color: #5a34fc;
	  font-size: 2rem;
	  font-weight: bold;
	  padding: 5% 0%;
  }
  .btn-block {
	  font-size: 1.5rem;
  }
  
  /* Call To Action */
  #cta {
	  background-color: #5a34fc;
	  padding: 7% 15%;
  }
  .cta-text {
	  font-weight: bold;
	  font-size: 3rem;
	  color: #fff;
  }
  
  /* Footer */
  #footer {
	  height: 200px;
  }
  .footer-icon {
	  font-size: 2rem;
	  color: #5a34fc;
	  padding: 5% 3%;
  }


/*Start Footer*/
footer {
  background-color: #121212;
  padding: 20px;
  /* padding: 0px 40px; */
  margin: auto;
  height: inherit;
}

footer h2 {
  font-size: 20px;
  letter-spacing: 2.9px;
  color: white;
  text-align: center;
}
footer .social-media .links a {
  margin: 0 10px;
  font-size: 25px;
  color: white;
}
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
  
	  .iphone-mock {
		  display: none;
	  }
	  .card {
		  margin: 20px 0;
	  }
	  .header-info {
		  font-size: 2rem;
	  }
	  .btn-outline-light {
		  margin-left: 0px;
	  }
	  #footer {
		  height: 70px;
	  }
  
  }