
/* ========================================================== */
/* ========================================================= */
/* ============ ABOUT SECTION START HERE ==================== */
.about-section {
    position: relative;
    background-color:white;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 20px;
}

.about-section p{
 padding:2px;
 margin: 3px;
 font-size: 15px;
 word-spacing: 5px;
}


.about-section h3{
  font-size: 20px;
color:rgb(6, 30, 2);
font-weight: 600;
padding-top: 10px;
text-align: center;

}

.about-section .content-column .inner-column {
    position: relative;
    padding-top: 30px;
    padding-right: 100px;
}

.about-section .content-column .text {
    position: relative;
    color: #777777;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 30px;
}


.about-section .image-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .image-column .inner-column {
    position: relative;
    padding: 40px 40px 0px 0px;
    margin-left: 50px;
}

.about-section .image-column .inner-column:after {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    left: 40px;
    bottom: 100px;
    z-index: -1;
    border: 8px solid #d7a449;
}

.about-section .image-column .inner-column .image {
    position: relative;
}

.about-section .image-column .inner-column .image:before {
    position: absolute;
    content: '';
    left: -50px;
    bottom: -50px;
    width: 200px;
    height: 299px;
    border-radius:20px;
}

.about-section .image-column .inner-column .image img {
    position: relative;
    width: 100%;
    display: block;
}

.about-section .image-column .inner-column .image .overlay-box {
    position: absolute;
    left: 40px;
    bottom: 48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box {
    position: relative;
    color: #252525;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4em;
    padding-left: 125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 110px;
    color: #d7a449;
    font-size: 68px;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.theme-btn.btn-style-three {
    position: relative;
    line-height: 24px;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    background: none;
    display: inline-block;
    padding: 11px 40px;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 2px solid #d7a449;
    font-family: 'Arimo', sans-serif;
}

.theme-btn.btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
}

.theme-btn.btn-style-three:hover {
    color: #ffffff;
    background: #d7a449;
}

.sec-title {
    position: relative;
    padding-bottom: 40px;
}

.sec-title .title {
    position: relative;
    color: #d7a449;
    font-size: 18px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: capitalize;
}

.sec-title .title:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 40px;
    height: 1px;
    background-color: #bbbbbb;
}
 .about-text{
  color:rgb(11, 11, 117);
 }


 /* =======MEDIA QUERY========== */
@media screen and (max-width: 768px) {
  .about-section .content-column .inner-column {
    padding-right: 0;
  }

  .about-section .image-column .inner-column {
    padding: 10px; 
    margin-left: 0; 
    padding-bottom: 1px;

  }

  .about-section .image-column .inner-column:after {
    display: none; 
  }

  .about-section .image-column .inner-column .image .overlay-box .year-box {
    padding-left: 0; 
  }

  .theme-btn.btn-style-three {
    padding: 10px 30px;
  }

  .sec-title .title {
    padding-left: 20px; 
    font-size: 18px;
  }

  .sec-title .title:before {
    bottom: 4px; 
  }

  .sec-title .about-text {
    padding-left: 25px; 
    font-weight:700;
  }

}

 /* ================================================================================ */
/* --------------------===========END OF ABOUT SECTION ==========--------------- */
/* ================================================================================== */




/* ================================================================================ */
/* --------------------=========== FEATURES STYLING SECTION ==========--------------- */
/* ================================================================================== */

.feature-grid {
  background: #fcfcfc;
  padding: 30px 0; 
}

.feature-title h2 {
  position: relative;
  margin-bottom: 20px; 
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  color: #e8a83a;
  font-size: 28px; 
}

.feature-title h2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 2px;
  background: #242323;
  bottom: -15px; 
  margin: auto;
  right: 0;
}

.feature-title p {
  padding: 0 20px; 
  margin-bottom: 10px;
  color: #38383a;
  font-size: 16px; 
}

.feature-icon {
  font-size: 36px;
  color: #e8bc00;
  margin-bottom: 10px; 
  display: inline-block;
}

.feature-wrap {
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  position: relative;
  margin-bottom: 30px; 
  text-align: center;
  border-radius:20px;
}

.feature-wrap p {
  position: relative;
  color: #38383a;
  font-size: 14px; 
}

.feature-wrap h4 {
  font-weight: 600;
  color: #1e2331;
  margin-bottom: 10px;
  font-size: 16px; 
  text-transform: capitalize;
  position: relative;
}

.feature-wrap a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  color: #e8bc00;
}
/* ================================================================================ */
/* --------------------===========END OF FEATURE SECTION ==========--------------- */
/* ================================================================================== */





/* ================================================================================ */
/* --------------------===========FOOTER STYLING SECTION ==========--------------- */
/* ================================================================================== */
  /* FOOTER */

  .element-btn .element-fill-btn {
    background-color: #ff6600;
    border: 0;
    color: #fff;
    padding: 13px 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: 252px;
    margin: 0 auto;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 50px -10px rgba(255, 10, 120, 1);
   
}
.fill-btn {
    background-color: #ff6600;
    border: 0;
    color: #fff;
    padding: 13px 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: 252px;
    margin: 0 auto;
    border-radius: 25px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
   
}
.fill-btn:hover,
.element-btn .element-fill-btn:hover {
    background-color: #201f1f;
    box-shadow: 0px 10px 50px -10px rgb(32, 31, 31);
}


.footer {
    position: relative;
    background-color: #201f1f;
    padding:50px 0px;
}

.footerBg {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.13;
    background: url("./assets/1.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fTitle {
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 20px;
}

.fTitle span {
    color: #ff6600;
}

.contact-address ul li,
.contact-address ul li a {
    color: #737373;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.contact-address {
    padding: 0 15%;
}

.contact-address ul li i {
    margin-right: 15px;
    display: inline-block;
    float: left;
    line-height: 32px;
}

.contact-address ul li span {
    display: table;
}

.contact-address ul li a:hover {
    color: #ff6600;
}



.social-icons ul li {
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 43px;
    position: relative;
    width: 43px;
    height: 43px;
    margin-right: 28px;
}

.social-icons ul li a {
    color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.social-icons ul li:before {
    content: "";
    width: 43px;
    height: 43px;
    display: inline-block;
    position: absolute;
    border: 1px solid #ff6600;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.social-icons ul li:last-child {
    margin: 0;
}

.social-icons ul li:hover:before {
    background: #ff6600;
}


/* Copyright css */
.copyright {
    padding: 20.5px 0;
    text-align: center;
}

.copyright h6 {
    font-size: 14px;
    font-style: italic;
    color: #737373;
}

.copyright h6 a {
    color: #ff6600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.copyright h6 a:hover {
    color: #201f1f;
}




/* footer buttons  */
#wrap {
  margin: 20px auto;
  text-align: center;
}

.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: #fdfdfd;
  border: 2px solid #0099cc;
  margin: 10px;
  transition: .5s;
}

.btn-slide2 {
  border: 2px solid #efa666;
}

.btn-slide:hover {
  background-color: #0099cc;
}

.btn-slide2:hover {
  background-color: #efa666;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: #efa666;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  color: #fff;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: #efa666;
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #efa666;
  left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: #fff;
}

/* ================================================================================ */
/* --------------------===========END OF FOOTER SECTION ==========--------------- */
/* ================================================================================== */

/* Media query */
@media screen and (max-width: 768px) {
  .element-btn .element-fill-btn,
  .fill-btn {
    width: 100%; 
    margin: 10px 0; 
    position: static; 
    transform: none;
  }

  .footer {
    padding: 20px 0; 
  }

  .fTitle {
    margin-bottom: 10px; 
    font-size: 16px;
  }

  .contact-address ul li,
  .contact-address ul li a {
    font-size: 12px; 
    margin-bottom: 10px; 
    line-height: 20px; 
  }

  .social-icons ul li {
    line-height: 30px; 
    margin-right: 28px; 
  }

}
